INTERNAL_API_TOKEN=replace-with-a-long-random-secret

ASKI_URL=https://www.aski.gov.tr/tr/Kesinti.aspx
ASKI_TARGET_DISTRICT=ILCE_ADINIZ
ASKI_TARGET_NEIGHBORHOOD=Mahalle Adiniz
CHECK_INTERVAL_SECONDS=3600
ASKI_NOTIFY_EVERY_CHECK=false

GATEWAY_NOTIFY_URL=http://telegram-bot-gateway:8080/notify
